@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-shine {
    animation: shine 2s infinite;
  }
}

@keyframes shine {
  0% {
    text-shadow: 0 0 5px currentColor;
  }
  50% {
    text-shadow: 0 0 20px currentColor, 0 0 30px currentColor;
  }
  100% {
    text-shadow: 0 0 5px currentColor;
  }
}
@layer utilities {
  .text-neon {
    text-shadow: 
      0 0 7px currentColor,
      0 0 10px currentColor,
      0 0 21px currentColor,
      0 0 42px currentColor;
  }
}
@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px currentColor;
  }
}

